/*_____________________________Font Faces_____________________________*/
@font-face {
  font-family: "signika";
  src: url("../fonts/signika-bold-webfont.woff2") format("woff2"), url("../fonts/signika-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "signika";
  src: url("../fonts/signika-light-webfont.woff2") format("woff2"), url("../fonts/signika-light-webfont.woff") format("woff");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "signika";
  src: url("../fonts/signika-regular-webfont.woff2") format("woff2"), url("../fonts/signika-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "signika";
  src: url("../fonts/signika-semibold-webfont.woff2") format("woff2"), url("../fonts/signika-semibold-webfont.woff") format("woff");
  font-weight: bolder;
  font-style: normal;
}
/*_____________________________Font Faces End_____________________________*/
/*_____________________________General_____________________________*/
html {
  height: 100%;
  width: auto;
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
} /*root font size, family set*/
body {
  background-image: url("../img/bg.jpg");
  /*Photo by Aenic from Pexels*/
  background-size: cover;
  font-size: 1.8rem;
  color: #111;
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.wrapper {
  margin: auto;
  width: 80vw;
  background-color: #fefefe;
  padding-top: 1rem;
  padding-bottom: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wrapper > a {
  font-size: 2.5rem;
  text-align: center;
} /*links echoed to the wrapper*/
.wrapper > a ~ * {
  text-align: center;
} /*anything else echoed to the wrapper*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "signika", "Inter", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-block-start: 0rem;
  margin-block-end: 0rem;
  text-align: center;
}
h1 {
  font-size: 3.2rem;
  margin: 0.5rem 0 1rem 0;
}
h2 {
  font-size: 2.6rem;
}
p {
  text-align: center;
  font-size: 1.95rem;
}
section p {
  margin-block-start: 0.5rem;
}
a,
a:link,
a:visited {
  color: #a767c2;
}
a:focus,
a:hover,
a:active {
  color: #862aad;
  text-decoration: underline;
}
img {
  max-height: 148px;
  width: auto;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2.2rem;
}
/*_____________________________General End_____________________________*/
/*_____________________________Header_____________________________*/
.hamb {
  padding: 0.5rem 2.8rem 0.8rem 0rem;
  align-self: flex-end;
  margin: 0 0 8px 0;
  height: 6rem;
  width: auto;
  display: none;
}
nav {
  width: 100vw;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #9341b6;
}
/*___Nav highlighting___*/
/*___Using created page indices___*/
nav #i1 li:nth-of-type(1) {
  background-color: #af74c9;
}
nav #i2 li:nth-of-type(2) {
  background-color: #af74c9;
}
nav #i3 li:nth-of-type(3) {
  background-color: #af74c9;
}
nav #i4 li:nth-of-type(4) {
  background-color: #af74c9;
}
nav #i5 li:nth-of-type(5) {
  background-color: #af74c9;
}
nav #i6 li:nth-of-type(6) {
  background-color: #af74c9;
}
nav #i7 li:nth-of-type(7) {
  background-color: #af74c9;
}
nav #i8 li:nth-of-type(8) {
  background-color: #af74c9;
}
nav #i9 li:nth-of-type(9) {
  background-color: #af74c9;
}
nav #i10 li:nth-of-type(10) {
  background-color: #af74c9;
}
/*___Pre-made links ___*/
nav .p6 li:nth-last-of-type(6) {
  background-color: #af74c9;
}
nav .p5 li:nth-last-of-type(5) {
  background-color: #af74c9;
}
nav .p4 li:nth-last-of-type(4) {
  background-color: #af74c9;
}
nav .p3 li:nth-last-of-type(3) {
  background-color: #af74c9;
}
nav .p2 li:nth-last-of-type(2) {
  background-color: #af74c9;
}
nav .p1 li:nth-last-of-type(1) {
  background-color: #af74c9;
}
/*___Nav highlighting end___*/
nav img {
  max-height: 74px;
  width: auto;
  margin: 1rem 2rem 1rem 2rem;
}
nav ul {
  font-family: "signika", "Inter", Arial, Helvetica, sans-serif;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  margin: auto;
  margin-right: 2rem;
  padding-inline-start: 2rem;
}

nav ul li {
  display: flex;
  height: 3rem;
  padding: 2rem 1vw 2rem 1vw;
  border-left: #111 solid 0.2rem;
}
nav ul li:last-of-type {
  border-right: #111 solid 0.2rem;
}

nav p {
  position: absolute;
  right: 0vw;
  top: 9.19rem;
  background-color: #af74c9;
  padding: 1rem;
  border-radius: 0 0 0 1rem;
  font-weight: normal;
  text-align: center;
  font-size: 1.5rem;
  margin-block-start: 0rem;
  margin-block-end: 0rem;
}
nav ul li a,
nav ul li a:link,
nav ul li a:visited {
  text-align: center;
  align-self: center;
  font-size: 1.95rem;
  color: inherit;
  text-decoration: none;
}
nav ul li a:focus,
nav ul li a:hover,
nav ul li a:active {
  color: #000;
  text-decoration: underline;
}
/*_____________________________Header End_____________________________*/
/*_____________________________Footer_____________________________*/
footer {
  font-family: "signika", "Inter", Arial, Helvetica, sans-serif;
  display: flex;
  background-color: #9341b6;
  justify-content: center;
}
footer p {
  font-size: 1.5rem;
}
/*_____________________________Footer End_____________________________*/
/*_____________________________Grid Table_____________________________*/
.grid {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  width: 60vw;
  font-size: 2rem;
  align-items: stretch;
  text-align: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.grid div {
  padding: 1rem 0.1rem 1rem 0.1rem;
  line-height: 2.1rem;
  border-top: #111 solid 0.2rem;
}
.grid div:nth-of-type(3n),
div:nth-of-type(3n-1) {
  border-left: #111 solid 0.2rem;
}
.grid div:nth-of-type(1),
.grid div:nth-of-type(2),
.grid div:nth-of-type(3) {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 0;
  font-weight: bolder;
  font-size: 2.1rem;
}
/*_____________________________Grid Table End_____________________________*/
/*_____________________________Forms_____________________________*/
form {
  font-size: 1.9rem;
  text-align: center;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
}
legend {
  display: none;
}
form * {
  border: none;
  margin: auto;
  margin-bottom: 0.3rem;
}

form fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 0;
}
form input,
form textarea,
form button,
form label[for="upload"] {
  font-family: inherit;
  font-size: inherit;
  padding: 0.6rem;
  border-radius: 0.2rem;
  background-color: #cac2ce;
  margin-bottom: 1.1rem;
}
form textarea {
  width: 70vw;
}
form p {
  font-size: 1.6rem;
  margin-top: 2rem;
  margin-bottom: 1.4rem;
}
form input[type="file"] {
  display: none;
}
form button,
form label[for="upload"] {
  margin: auto;
  padding: 0.6rem 3rem 0.6rem 3rem;
  margin-top: 2rem;
  background-color: #af74c9;
}
form button:focus,
form button:hover,
form button:active,
form label[for="upload"]:focus,
form label[for="upload"]:hover,
form label[for="upload"]:active {
  background-color: #9341b6;
}
/*_____Remove autofill styling_____*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  box-shadow: inherit;
  -webkit-box-shadow: inherit;
  font-size: 1.9rem !important;
  transition: background-color 10000s ease-in 10000s;
}
/*_____Remove autofill styling_____*/
/*_____________________________Forms End_____________________________*/
/*_____________________________Media Queries_____________________________*/
@media screen and (max-width: 880px) {
  /*for small tablets/mobile*/
  .vis {
    visibility: hidden;
  }
  .bgVis {
    background: none;
  }
  .hamb {
    display: inline;
  }
  nav ul {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #9341b6;
    flex-direction: column-reverse;
    align-items: stretch;
    padding: 1rem 0rem 0rem 0rem;
    border-radius: 0 0 0 1rem;
    z-index: 2;
    margin-right: 0;
  }
  nav ul li:first-of-type {
    border-radius: 0 0 0 1rem;
  }
  nav ul li {
    display: flex;
    justify-content: inherit;
    padding: 0.5rem 3rem 0.5rem 3rem;
    border: unset;
    border-bottom: #111 solid 0.2rem;
  }

  nav ul li:last-of-type {
    border: unset;
    border-bottom: #111 solid 0.2rem;
    border-top: #111 solid 0.2rem;
  }
  nav ul li a,
  nav ul li a:link,
  nav ul li a:visited,
  nav ul li a:focus,
  nav ul li a:hover,
  nav ul li a:active {
    color: #000;
    text-decoration: none;
  }
  nav p {
    right: unset;
    left: 0vw;
    border-radius: 0 0 1rem 0;
  }
}
/*_____________________________Media Queries End_____________________________*/
